<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>Cloth</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/styles/cloth.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <form method="post" id="form">
            <div class="col-xs-9">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#review">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>
                <div class="modal fade" id="review" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Setting</h4>
                            </div>
                            <div class="modal-body">
                                <dl class="dl-horizontal">
                                    <dt>Dress</dt>
                                    <dd>{{ dress }}</dd>
                                    <dt>Person</dt>
                                    <dd>{{ person }}</dd>
                                    <dt>Hair</dt>
                                    <dd>{{ hair }}</dd>
                                </dl>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                         style="min-width:2em;width:45%">
                                        <span>45% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Run</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->


                <img class="img-responsive" src="assets/images/model.jpg" alt="Model" title="Model">
            </div>
            <div class="col-xs-3" id="container-list">
                <div id="dress-list">
                    <h4>Dress</h4>
                    <ul class="list-unstyled">
                        <li>
                            <label>
                                <img class="img-responsive" src="assets/images/tshirt.jpg">
                                <input type="radio" name="dress" value="1" v-model="dress">
                                <span>T-shirt+pants_std</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <img class="img-responsive" src="assets/images/tshirt.jpg">
                                <input type="radio" name="dress" value="2" v-model="dress">
                                <span>short_sleeve_skirt_std</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <img class="img-responsive" src="assets/images/tshirt.jpg">
                                <input type="radio" name="dress" value="3" v-model="dress">
                                <span>long_sleeve_skirt_std</span>
                            </label>
                        </li>
                    </ul>
                </div>

                <div id="person-list">
                    <h4>Person</h4>
                    <ul class="list-unstyled">
                        <li>
                            <label>
                                <input type="radio" name="person" value="2" v-model="person">
                                <span>normal</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="person" value="6" v-model="person">
                                <span>160</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="person" value="7" v-model="person">
                                <span>190</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="person" value="8" v-model="person">
                                <span>big_chest</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="person" value="9" v-model="person">
                                <span>thin</span>
                            </label>
                        </li>
                    </ul>
                </div>

                <div id="hair-list">
                    <h4>Hair</h4>
                    <ul class="list-unstyled">
                        <li>
                            <label>
                                <input type="radio" name="hair" value="1" v-model="hair">
                                <span>braid-2-1</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="hair" value="2" v-model="hair">
                                <span>2-2</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="hair" value="3" v-model="hair">
                                <span>2-3</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="hair" value="4" v-model="hair">
                                <span>2-4</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="hair" value="5" v-model="hair">
                                <span>2-5</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container" id="container-nav">
        <ul class="nav nav-pills">
            <li role="presentation" data-uuid="dress">
                <a href="#">Dress</a>
            </li>
            <li role="presentation" data-uuid="person">
                <a href="#">Person</a>
            </li>
            <li role="presentation" data-uuid="hair">
                <a href="#">Hair</a>
            </li>
            <li role="presentation" class="disabled">
                <a href="#">Profile</a>
            </li>
        </ul>
    </div>
</nav>

<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/vue/2.3.3/vue.js"></script>
<script src="//v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="assets/scripts/cloth.js"></script>
</body>
</html>
